<!--{{yield}}-->
{{#if addNewRental}}
<p>Display new rental form - to be replaced with form code soon.</p>
<h1>New Rental</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Owner</label>
        {{input value=owner id="owner"}}
      </div>
     <!--we use  the {{input}} to enter the values ie the value and is-->
      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="city">City</label>
        {{input value=city id="city"}}
      </div>

      <div class="form-group">
        <label for="bedrooms">Number of Bedrooms</label>
        {{input value=bedrooms id="bedrooms"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'saveRental1'}}>Save</button>
    </form>
  </div>
{{else}}
<button {{action 'rentalFormShow'}}>New Rental</button>
{{/if}}
