{{!--yield--}}
Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
available by arrangement through {{rental.owner}}.
<br>
<p><img src={{rental.image}} alt={{rental.type}}></p>
<h2> All Reviews </h2>

<ul>
  {{#each sortedReviews as |review|}}
  <!--we call the sortde reviews from the review-details.js -->
    {{review-tile review=review destroyReview="destroyReview"}}
    <!--we pass destroyReview to the route handler for the parent -->
  {{/each}}
</ul>

<button {{action 'delete' rental}}>Delete</button>
