{{!--yield--}}
<li>
  {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}} with {{rental.bedrooms}} bedrooms {{/link-to}}<br/>
  {{#if IsImageShowing}}
      <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
     {{else}}
     <button {{action 'imageShow'}}>show image</button>
     {{/if}}
     {{!--update-rental rental=rental update="update"--}}
     {{!--we are rendering the updte rental--}}
     <button {{action 'delete' rental}}>Delete the image</button>
</li>
