{{outlet}}
<h2>More information about {{model.owner}}'s {{model.type}}'</h2>
{{!--rendered the rental-detail--}}
{{update-rental rental=rental update="update"}}
{{!--we are rendering the updte rental--}}
{{rental-details rental=model destroyRental="destroyRental" destroyReview="destroyReview"}}
{{new-review saveReview="saveReview" rental=model}}
